*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.bannera{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container p{
    position: absolute;
    bottom: 200px;
    left: 150px;
    color:white;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 400;
}
.container h3{
            position: absolute;
            bottom: 250px;
            left: 150px;
            color: red;
            font-size: 40px;
            line-height: 60px;
}
.container h1{
    position: absolute;
            bottom: 300px;
            margin-left: 150px;
            left: 10px;font-size: 50px;
            background-color:none;
            font-weight: 800;
            color:#fff;
}
.container{
    font-size:100%;
    color:black;

}
.navbar__text{
    position:absolute;
    display: flex;
    height: 100px;
    align-items: center;

}
.logo{
    width: 40%;

}
.logo img{
    width: 250px;
    margin-bottom: 40px;

}
.navbar__ul{
    width: 60%;
    list-style-type:none;   /* dot nadekhus vnerw */
    display:flex;
    justify-content:flex-end;
    padding-left: 480px;
    font-size: 25px;
    margin-bottom: 40px;
}
.navbar{
    width: 1200px;
    margin: 0 auto;
}
.navbar__ul li a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: 800;
}
.btn{
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 30px;
    font-size: 12PX;
    padding: 20px 40px;
    position: absolute;
}
.btn-smart{
    background: rgb(255, 69,79);
    margin-top: 520px;
    margin-left: 150px;
}
.row{
    width: 100%;
    display: flex;
}
.col-6{
    width: 50%;
}
.about h3{
    margin-left: 190px;
    color: red;
    font-size: 40px;
    line-height: 60px;
}
.p-25 h1{
    margin-bottom: 180px;
}
.p-25{
margin-top: 170px;
}
.about h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
    margin-left: 95px;
}
.about p{
    font-size: 18px;
    font-weight: 300;
    margin-left: 90px;
}
.about__btn{
    margin-bottom:300px;
}
.about{
    height: 100vh;
}
.btn-smarts{
    background: rgb(255, 69,79);
    margin-left: 180px;
    margin-top: 20px;
}
.about__img{
    width: 110%;
    overflow: hidden;
}
.about__img img{
    width: 100%;
}
.shop{
    width: 100%;
    height: 650px;
    background-attachment: fixed;
    background-color: burlywood;
}
.shop__text{
    height: 450px;
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: center;
    margin: 0 auto;
}
.shop__img{
    width: 400px;  
    height: 500px;    
    padding: 35px;
    margin-left: 500px; 
    margin-top: 100px; 


}
.shop__text h1{
    margin-top: 50px;
}

.tag{
    text-align: center;
    margin-top: 200px;
    margin-right: 100px;
    position: absolute;
    margin-left: 70px;
    font-weight: 800;
    font-size: 30px;
}
.img{
    height: 450px;
}
.tag h3{
    color: crimson;
    font-size: 70px;
}
.btn-sm{
    background: rgb(255, 69,79);
    font-size: 20px;
    margin-top: 0px;
    margin-left: 30px;
}
.p-25 h3{
    
}
.p-26{
    margin-left: 100px;
    margin-top: 150px;

}
.p-26 h3{
    margin-right: 100px;
    font-weight: 10000;
    font-size: 50px;
}
.menu__img{
    width: 100%;
    overflow: hidden;
    height: 700px;
    margin-top: 10px;
}
.menu__img img{
    height: 95%;
}
.menu{
    background-color:#fff;
}
.p-26 p{
    font-weight: 500;
}
.menu__btn{
    margin-right: 80px;
}
.clients{
    width: 100%;
    background-color: black;
    padding:80px 0;
    margin-bottom: 0px auto;
    color: white;
}
.col-3{
    width: 25%;
}
.client{
    text-align: center;
}
.client h1{
    font-size: 35px;
}
.client p{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
}
.prices{
    width: 100%;
    padding: 80px 0px;
}
.col-4{
    width: 33.33333333%;
}
.price{
    padding: 20px;
    text-align: center;
}
.price_img{
    width: 100%;
}
.price_img img{
    width: 250px;
}
.price__heading{
    margin-top: 5px;
    font-size: 25px;
}
.price__text{
    margin-top: 13px;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.price_rs{
    font-size: 25px;
    margin-top: 15px;

}
.price:hover{
    color:red;
    cursor: pointer;
    background-color:#4f3222;
    
}




@media (max-width:700px){
    .navbar__text{
        display: flex;
        height: auto ;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
}
.logo{
    margin-bottom: 10px;
}
.container{
    width: 100%;
    padding: 0 30px;
}
}